.wrapper
  padding-top: 50px

.LoginPage
  display: flex
  flex-flow: column
  align-items: center
  justify-content: center
  align-content: space-between

.googlebutton
  display: flex
  align-items: center
  justify-content: center
  align-content: space-between

.LoginPage
  padding-top: 50px
